.signUpContainer
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: rgb(3,37,65)
.signUpInputs
    height: fit-content
    width: fit-content
    display: flex
    flex-direction: column
    gap: 20px
    border-radius: 20px
    padding: 1%
    background: #033f70
    box-shadow: 6px 6px 3px 2px #00000051
    >button
        background: rgb(3,37,65)
        color: white
        font-size: 110%
    >button:hover
        background: #0860a8
    >input
        font-size: 150%
        border-radius: 5px
        background: rgb(255, 255, 255)
        border: none
        text-shadow: 2px 2px #01000047
    >input::placeholder
        color: rgba(0, 0, 0, 0.649)
    >input:focus
        outline: none
    >svg
        height: 65%
        width: 100%
        color: white
        border-radius: 20px
