.userButtonsContainer
    display: flex
    width:100%
    justify-content: flex-end
    margin-right: 1%
    gap: 1%
    >a
        white-space: nowrap
        height: 100%
        text-decoration: none
    a>button
        background: #033f70
        color: white
    a>button:hover
        background: #055597
.tmdbNavbar
    height: 15vh 
    background: rgb(3,37,65)


    
